{{ define "yield" }}
	<div class="container">
		<h1 class="center">Sign Up</h1>
		<p class="center fg-2">Enter your details and we'll get your account ready for you</p>
		<form class="form" action="/signup" method="post">
			{{ template "alert" . }}
			<input class="text-input" type="email" placeholder="email" name="email" required/>
			<input class="text-input" type="password" placeholder="password" name="password" required/>
			<button class="button mt-1" type="submit">Sign Up</button>
		</form>
	</div>
{{ end }}
