{{ define "yield" }}
<div class="form-container">
	<h1 class="center">Create New Recipe</h1>
	<p class="center fg-2">Save your recipe for later</p>
	<form class="form" action="/recipes" method="post">
		{{ template "alert" . }}
		<input type="hidden" name="csrf_token" value="{{ .CSRFtoken }}" />
		<input class="text-input" type="text" placeholder="Title" name="title" required />
		<textarea required class="text-input" placeholder="Ingredients..." name="ingredients" rows="5"
			cols="50"></textarea>
		<textarea class="text-input" placeholder="Instructions..." name="method" rows="5" cols="50"></textarea>
		<button class="button mt-1" type="submit">Submit</button>
	</form>
</div>
{{ end }}
