{{ define "yield" }}
<div id="recipesList" class="dashboard-recipes" data-csrf="{{.CSRFtoken}}">
	<h1 class="center">Recipes</h1><br>
	<div class="vh-70 card w-40 mt-1">
		<div class="recipe-list">
			{{ range .Recipes }}
			<div class="recipe-item" data-recipeID="{{.ID}}">
				{{.Title}}
				<div class="delete-button">&times</div>
			</div>
			{{ end }}
		</div>
		<a href="/recipes/create" class="button newrecipe-button">New Recipe</a>
	</div>
</div>
<script type="text/javascript" src="./static/recipeList.js"></script>
{{ end }}
