package components

templ Warning(message string) {
<div class="p-2 mt-2 rounded-sm bg-red-100 text-black text-center">{ message }</div>
}

templ Success(message string) {
<div class="p-2 mt-2 rounded-sm bg-green-100 text-black text-center">{ message }</div>
}
